<div class="container">
    <footer class="py-3 my-4 border-top">
        <div class="col-md-12">
            <h5 class="mb-3">Contact for support</h5>
            <div class="mb-3 text-muted">meetuphelper@gmail.com</div>
        </div>
    </footer>
</div>