<nav class="navbar navbar-expand-lg bg-light border-bottom">
    <div class="container">
        <a href="/" class="navbar-brand">MeetUp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/events" class="nav-link">Events</a>
                </li>
                <li class="nav-item">
                    <a href="/my-events" class="nav-link">My Events</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/create-event" class="nav-link">Create Your Event</a>
                </li>
            </ul>
            <form class="d-flex" action="/search-events" method="POST" role="search">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input class="form-control w-75 me-2" name="searchInput" type="search" placeholder="Search Event" aria-label="Search">
                <select class="form-select w-50 me-2" name="searchType" aria-label="Default select example">
                    <option selected value="byLocation">By Location</option>
                    <option value="byTitle">By Title</option>
                </select>
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <% if (!isAuthenticated) { %>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Signup</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="nav-link border-0 link-like" type="submit">Logout</button>
                    </form>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>