<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="d-flex justify-content-center">500 Internal Server Error!</h1>
                <div class="d-flex justify-content-center">Sorry, an error has occured in the server.</div>
                <div class="d-flex justify-content-center">Please contact<span class="mx-1 fw-bold">meetuphelper@gmail.com</span> for support.</div>
                <div class="d-flex justify-content-center mt-3">
                    <a href="/" class="btn btn-primary">Return Home</a>
                </div>
            </div>
        </div>
    </div>
</body>